dagster
dagster-webserver
dagster-postgres
pandas
discord.py
fastf1
pytz
scikit-learn
pyodbc
SQLAlchemy
seaborn
dagster-mysql
mysql-connector-python
matplotlib
numpy
openmeteo-requests
requests-cache
retry-requests
plotly
kaleido